*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Lexend Deca", sans-serif;
}
.btn{
  font-family: "Lexend Deca", sans-serif;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: .4s ease-in-out;
}
h3{
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  font-size: 1.5rem;
}
p{
  font-size: 0.9375rem;
  line-height: 1.6;
}
.bright-orange{
  background-color:hsl(31, 77%, 52%);
color: #fff;
border-radius: 10px 10px 0 0;
}
.bright-orange .btn{
  color:hsl(31, 77%, 52%) 
}
.dark-cyan{
  background-color: hsl(184, 100%, 22%);
color: #fff;
}
.dark-cyan .btn{
  color:hsl(184, 100%, 22%)
}
.very-dark-cyan{
  background-color: hsl(179, 100%, 13%);
  color: #fff;
  border-radius: 0 0 10px 10px ;
}
.very-dark-cyan .btn{
  color: hsl(179, 100%, 13%);
}
.btn:hover{
  background-color: transparent;
  color:#fff;
}
.container{
  padding: 20px;
}
.card{
  padding: 45px;
}
.card img{
  margin-bottom: 25px;
}
.card h3{
  margin-bottom: 20px;
}
.card p{
  margin-bottom: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (min-width: 992px) {
  .container{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    max-width: 900px;
    margin: auto;
  }
  .bright-orange{
    border-radius: 10px 0 0 10px;
  }
  .very-dark-cyan{
    border-radius: 0 10px 10px 0;
  }
  .card{
    padding: 45px;
  }
  .card p{
    margin-bottom: 80px;
  }
}